.App {
  text-align: center;
}

label{
  color: blue;
  font-weight: 500;
  font-size: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.bar {
shape-rendering: crispEdges;
}

.bar-label{
  fill: #000;
text-anchor: middle;
font-size: 18px;
}
.next
{
  margin: 0 10% 0 0;
  float: right;
  background-color: rgb(221, 218, 218); 
  color: black; 
  border: 2px solid #008CBA;
  border-radius: 12px;
  padding: 14px;
  font-size: large;
}
.next:hover{
  background-color: #008CBA;
  color: white;
}

.previous
{
  margin: 0 0 0 10%;
  float: left;
  background-color: rgb(221, 218, 218); 
  color: black; 
  border: 2px solid #008CBA;
  border-radius: 12px;
  padding: 14px;
  font-size: large;
}
.previous:hover{
  background-color: #008CBA;
  color: white;
}
.tooltip-area__text
{
  padding-left: 40%;
  float: left;
  color: red;
  font-size: larger;
  font-weight: bolder;
}

.dropdown{
  padding: 5px;
    color: #000;
    font-size: 25px;
    background-color: red;
    border:1px solid red;
}